{{define "index"}}
<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{.Title}}</title>
    <script src="/static/htmx.js"></script>
    <script src="/static/tailwind.js"></script>
    <link rel="stylesheet" href="/static/daisyui.css">
</head>

<body>
    <div class="navbar bg-base-100 shadow-sm border-b border-neutral-content mb-4 px-12">
        <div class="flex-1">
            <a class="btn btn-ghost text-xl">Inventory</a>
        </div>
        <div class="flex-none">
            <ul class="menu menu-horizontal px-2">
                <li>
                    <button 
                        hx-get="/add-product-form" 
                        hx-target="#modal-container" 
                        class="btn btn-ghost btn-sm btn-secondary">
                        Add Product
                    </button>
                </li>
            </ul>
        </div>
    </div>

    <main>
        <div class="max-w-7xl mx-auto min-h-screen p-4">
            <label for="search-result" class="label mb-2 font-bold text-primary">Search</label>
            <input type="text" placeholder="Type here to Search" class="input w-full mb-4" id="search-result"/>

            <div class="bg-base-100 rounded-md border border-neutral-content overflow-hidden shadow-sm">
                <div class="p-6 border-b border-base-200 flex justify-between items-center">
                    <h2 class="text-xl font-bold">Current Inventory</h2>
                    <!-- <span class="badge badge-ghost">Live Updates</span> -->
                </div>

                <div id="product-table-container" hx-get="/get-products" hx-trigger="load, productAdded from:body"
                    hx-target="#product-table-container">
                    <div class="flex justify-center p-10">
                        <span class="loading loading-spinner loading-lg text-primary"></span>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div id="modal-container"></div>
</body>

</html>
{{end}}